<h1>All of the dogs- Woof!!! </h1>

<ul>
   <% @dogs.each do |d| %>
   <li><%= link_to d.name, dog_path(d)  %>
     <%= button_to('Delete', dog_path(d),
               method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
 </li><br>
   <% end %>
</ul>
