<h1>Create a new Appointment for your dog!</h1>

<%= form_for @appointment do |f| %>

<%= f.collection_select:service_id, @services, :id, :name %><br>
<%= f.collection_select:caregiver_id, @caregivers, :id, :name %><br>
<!--#?? datetime_select(appointment)-->
<%=f.submit%>
  <%end%>
